:root {
    --blue: navy;
    --white: #FEFEFE;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--white);
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 22px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, a.active {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

code {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

pre {
    overflow: auto;
    background-color: lavender;
}

nav a {
    padding: 1%;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 1%;
    margin-top: 1%;
}

#main {
    margin-top: 4%;
}

#main img, #main video {
    max-width: 94%;
}




